<!DOCTYPE html>
<html>
<head>
  <title>BootstrapAdmin</title>
  <%= stylesheet_link_tag    "bootstrap_admin/application", :media => "all" %>
  <%= javascript_include_tag "bootstrap_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
